// --- 色 ---
$keycolor: #0a9dd5;
$textLinkColor: #0068b7; // 404の「TOPに戻る」のテキストの色
$errorColor: #ff0a0a; // エラー文言のテキストに使っている色
$darkerColor: #2c4f54; // サイドバーの背景に使っている色

// --- 幅 ---
$pcContentWidth: 1100px; // PCのコンテンツ幅
$mobileContentWidth: 95%; // PC以外のコンテンツ幅

// --- 高さ ---
$headerHight: 54px; // headerの高さ。変わったらこの値も変更