{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current",
        "browsers": [
          "last 2 chrome versions",
          "last 2 Firefox versions",
          "> 1%"
        ]
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }],
  ],
  "plugins": [
  ],
  "env": {
    "test": {
      "presets": ["power-assert"],
      "plugins": ["babel-plugin-espower"]
    }
  }
}