{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@Helpers": "./src/js/_helpers",
          "@Components": "./src/js/components",
          "@Pages": "./src/js/pages"
        }
      }
    ]
  ]
}